<div class="container">
    <form class="form-signin" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group row">
            <h2 class="form-signin-heading">Please register</h2>
        </div>
        <div class="form-group row">
            <input type="text" class="form-control" placeholder="Display Name" required="" autofocus="" [(ngModel)]=model.displayName
                name="displayName" #displayName="ngModel" />
            <div [hidden]="displayName.valid || displayName.pristine" class="alert alert-danger">
                <div *ngIf="displayName.errors?.required">
                    Display Name is required.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <input type="text" class="form-control" placeholder="Email" required="" autofocus="" [(ngModel)]=model.email name="email"
                #email="ngModel" />
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                <div *ngIf="email.errors?.required">
                    Email is required.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <input type="text" class="form-control" placeholder="Phone Number" required="" autofocus="" [(ngModel)]=model.phoneNumber
                name="phoneNumber" #phoneNumber="ngModel" />
            <div [hidden]="phoneNumber.valid || phoneNumber.pristine" class="alert alert-danger">
                <div *ngIf="phoneNumber.errors?.required">
                    Phone Number is errored.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <input type="password" class="form-control" placeholder="Password" required="" [(ngModel)]=model.password name="password"
                #password="ngModel" />
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                <div *ngIf="password.errors?.required">
                    Password is required.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <input type="password" class="form-control" placeholder="Confirm Password" required="" [(ngModel)]=model.confirmPassword
                name="confirmPassword" #confirmPassword="ngModel" />
            <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">
                <div *ngIf="confirmPassword.errors?.required">
                    Password is required.
                </div>
            </div>
            <div [hidden]="passwords.valid" class="alert alert-danger">
                <div *ngIf="passwords.errors?.notSame">
                    Password not match.
                </div>
            </div>
            <div [hidden]="!hasError" class="alert alert-danger">
                <div *ngIf="!!errorMessage">
                    {{errorMessage}}
                </div>
            </div>
            {{form.hasError('notSame', 'passwords')}}
        </div>
        <div class="form-group row">
            <!-- <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
              </label> -->
            <div class="col-sm-12">
                <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="register()" [disabled]="!form.form.valid">Register</button>
            </div>
            <img *ngIf="loading" src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
        </div>
    </form>
</div>