<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="page-header">
           {{pageTitle}}
            
        </h1>

        <!-- First Blog Post -->
         <h2>
                    <a href="#">{{newsTitle}}</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">{{news}}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{news}}</p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p>{{news}}</p>
                <a class="btn btn-primary" (click)='onBack()'>Back<span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>

      
    </div>


</div>
<!-- /.row -->

<hr>